body {
  font-size: 62.5%
}

.header-info-container{
  display: flex;
  align-items: center;
  margin-top: -100px;

  @media screen and (max-width: 500px){
    flex-direction: column;
    text-align: center;
  }
  .profile-pic{
    border-radius: 50%;
    width: 400px;
    margin-right: 35px;
    @media screen and (max-width: 800px){
      width: 300px;
      margin-right: 0;
    }
    @media screen and (max-width: 500px){
      width: 200px;
      margin-right: 0;
      margin-top: 120px;
    }
  }
  
  .name-links{
    margin-left: 25px;
    @media screen and (max-width: 500px){
      margin-left: 0
    }
    
    .fab{
      font-size: 5rem;
      text-decoration: none;
      color: white;
      margin-right: 25px;
      &:hover{
        cursor: pointer;
      }
    }

    .name{
      font-size: 3rem;
      @media screen and (max-width: 500px){
        font-size: 2rem;
      }
      @media screen and (max-width: 800px){
        font-size: 2.5rem;
      }
    }

    .job-title{
      font-size: 1.6rem;
      @media screen and (max-width: 500px){
        font-size: 1.2rem;
      }
    }
    .email{
      font-size: 1.3rem;
    }
  }  
}

.skills-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #3e387e;
  color: #ece3f0;
  clip-path: polygon(0 calc(0% + 3.5vw), 100% 0, 100% 100%, 0 100%);
  margin-bottom: -75px;
  h2{
    font-size: 2.8rem;
    margin-top: 100px;
    @media screen and (max-width: 500px){
      font-size: 2.3rem;
      margin-top: 50px;
    }
  }

  .skills-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 120px;
    margin-top: 35px;
    width: 90%;
    
    .skill-card-title{
      font-size: 1.4rem;
      text-align: center;
      margin: 20px 20px;
      @media screen and (max-width: 500px) {
        margin: 15px 20px;
        font-size: 1rem;
      }
    }
    .skill-logo{
      height: 150px;
      color: #fe9fad;
      @media screen and (max-width: 500px){
        height: 100px;
      }
    }
  }
}

.projects-section-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #3d6391;
  color: #ece3f0;
  clip-path: polygon(0 0, 100% calc(0% + 3.5vw), 100% 100%, 0 100%);
  margin-bottom: -75px;
  h2{
    font-size: 2.8rem;
    margin-top: 100px;
    @media screen and (max-width: 500px){
      font-size: 2.3rem;
      margin-top: 50px;
    }
  }
  .project-cards-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin-bottom: 125px;
   .project-card{
     width: 90%;
     background: #9db0c7;
     margin-bottom: 20px;
     border-radius: 12px;
     padding-bottom: 20px;
     color:#3e387e;
     box-shadow: 3px 5px 15px #152614;
     @media screen and (max-width: 500px){
       text-align: center;
     }
     h3{
       font-size: 2.5rem;
       margin-left: 20px;
       @media screen and (max-width: 500px){
        margin-left: 0;
        font-size: 2rem;
      }
     }
     p{
       font-size: 1.8rem;
       margin-left: 20px;
       @media screen and (max-width: 500px){
        margin-left: 0;
        font-size: 1.5rem;
      }
     }
    
     button{
       border: 0;
       text-decoration: none;
       font-size: 1.5rem;
       margin-left: 20px;
       background: #a10e0e;
       color: #c8c8e8;
       width: 250px;
       height: 75px;
       border-radius: 8px;
       transition: .2s;
       @media screen and (max-width: 500px){
         margin-left: 0;
         margin-bottom: 10px;
         width: 75%;
         height: 35px;
         font-size: 1.3rem;
       }
       &:hover{
         cursor: pointer;
         color: #a10e0e;
         background: #c8c8e8;
        }
      }
      .toggle-description{
        width: 175px;
        margin: 15px auto 0px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .drop-text{
          font-size: 1.1rem;
          margin-bottom: 3px;
        }
      }
      .desc-container{
        .desc-header{
          margin-left: 20px;
          font-size: 1.5rem;
        }
        .desc-text{
          font-size: 1.2rem;
        }
      }
    }
  }
}

.contact-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #3B96B5;
  color: #ece3f0;
  clip-path: polygon(0 calc(0% + 3.5vw), 100% 0, 100% 100%, 0 100%);
  h2{
    font-size: 2.8rem;
    margin-top: 100px;
  }
  .contact-form{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    .small-buttons-container{
      display:flex;
      width: 100%;
      justify-content: center;
      .small-input{
        width: 43%;
        margin: 25px 26px;
      }
    }
    input{
      height: 50px;
      border-radius: 15px;
      font-size: 1.5rem;
    }
    .form-subject{
      width: 100%;
      margin-bottom: 25px;
    }
    .form-message{
      width: 100%;
      height: 100px;
      border-radius: 15px;
      font-size: 1.3rem;
      margin-bottom: 25px;
    }
    .submit-button{
      border: 0;
      text-decoration: none;
      font-size: 1.5rem;
      margin-bottom: 50px;
      background: #a10e0e;
      color: #c8c8e8;
      width: 250px;
      height: 75px;
      border-radius: 8px;
      transition: .2s;
      &:hover{
        cursor: pointer;
        color: #a10e0e;
        background: #c8c8e8;
      }
    }
    .sending-message{
      border: 0;
      text-decoration: none;
      margin-bottom: 50px;
      text-align: center;
      line-height: 75px;
      font-size: 1.5rem;
      background: #3B96B5;
      width: 250px;
      height: 75px;
      border-radius: 8px;
    }
  }
}